**/.bsp
.idea
.gradle/
umc-integration-tests/
**/results/
**/target/
**/build/
**/audit/
**/*.iml
**/.DS_Store
**/.gradletasknamecache
.java-version
.cassandraWorkbench
.cassandraWorkbench.jsonc
.bloop
.metals
.vscode
credentials
.hidden
project/metals.sbt
project/project
.class